// Set html/body settings
html, body{
	box-sizing:border-box;
	margin:0;
	padding:0;
	background:$nn-color;
	height:100%;
	width:100%;
}
body{
	padding-left:210px;
}


.selected{
	&:after{
		content:"Placehold";
		height:0;
		overflow:hidden;
		width:0;
		border:10px solid transparent;
		border-right-color:$nn-color;
		transition: $nn-time right, $nn-time transform;

		position:absolute;
		top:0;bottom:0;right:-15px;
		margin:auto;
	}
	&:hover{
		&:after{
			right:-22px;
			transform: rotate(180deg);
		}
	}
}

// The bar at the side, coincidentally.
.sidebar{
	position:fixed;
	left:0;
	text-align:center;
	background:white;
	width:210px;
	height:100%;
	overflow:auto;

	// The list...
	ul{
		margin:0;
		padding:0;
		list-style-type: none;

		// Counteract the center from parent
		text-align:left;

		// Its items...
		li{
			margin:0;
			padding:0;
			margin-top:30px;

			// And the links
			a{
				position:relative;
				color:white;
				background:$nn-color;
				padding:10px;
				text-decoration:none;
				transition: $nn-time all;

				&:hover{
					border:3px solid $nn-color;
					border-left:none;
					background:white;
					color:$nn-color;
				}
			}}}}
.topbar{
	display:none;
	position:relative;
	width:98%;
	margin:0 auto 10px auto;
	height:120px;
	background:white;
	img{
		height:90%;
		position:absolute;
		top:0;
		bottom:0;
		margin:auto;
	}
}
