$nn-color:#FBB829;
$nn-time:0.2s;
$nn-read-width:960px;

h1, h2, h3, h4, h5, h6{
	font-family: 'Old Standard TT', serif;
	color:$nn-color;
	margin:0;
	padding:0;
}
p, span, a{
	font-family: 'Lato', sans-serif;
}
hr{
	margin:5px auto;
	background:none;
	border:none;
	border-top:1px solid $nn-color;
	height:0px;
	width:90%;
}



@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'), url(http://themes.googleusercontent.com/static/fonts/oldstandardtt/v5/n6RTCDcIPWSE8UNBa4k-DAjWwMcLosnYS7_elQHKBmA.woff) format('woff');
}

//font-family: 'Lato', sans-serif;
//font-family: 'Old Standard TT', serif;
