.content{
	width:98%;
	background:white;
	margin:auto;
	// Readability stuff
	h1, h2, h3, h4, h5{
		text-align:center;
	}
	p{
		max-width:$nn-read-width;
		width:95%;
		margin:auto;
	}

	.headerimage{
		height:300px;
		width:100%;
		background-image:url('http://puu.sh/7fz8G.png');
		.darken{
			background:black;
			height:300px;
			width:100%;
		}
	}
}