@media only screen and (max-width: 767px) {
  // On mobiles...
  // Get rid of the sidebar
  .topbar{
  	display:block;
  }
  .sidebar{
  	display:none;
  }
  // Fix body padding
  body{
  	padding-left:0;
  }
}